html {

}
body {
    padding: 0;
    margin: 0;
}
body * {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s;
    border-radius: 10px;
    transition: 'display 0.5s';
}
div {
    border-radius: 0px;
}
#appDiv {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background: #000;
} 
#home {
    width: 100vw;
    height: 100vh;
    background: #000;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
input {
    outline: none;
}
label{
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    border-radius: 0;
}
img {
    border-radius: 0;
}
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 1px;
  }
  ::-webkit-scrollbar-corner{
    display: none;
  }
